*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
    background-image: url("btn.png");
    background-repeat: no-repeat;
}
.conteneur{
    position: relative;
    height:100vh;
    width:100%;
    background-color: white;
    padding:0 3%;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex:1;
    padding-top: 7px;
    padding-right: 30px;
    text-align: right;
    list-style-type: none;

}
ul li{
    margin-right: 20px;
}
ul li a{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
}
ul li a::after{
    content:'';
    background:SkyBlue;
    position: absolute;
    bottom:0;
    right:0;
    width:0;
    height:2px;
    transform: translate(-50%, 5px);


}
ul li a:hover::after{
    width:38%;
}
.site-conteneur{

    position: absolute;
    bottom: 50%;
    color: skyblue;
}
.site-conteneur p{
    font-size: 90px;
    font-weight: bold;
}
.site-conteneur span{
    font-size: 70px ;
}
.site-conteneur h1{
    font-size: 60px ;
}
.mylist{
    position: absolute;
    bottom:18%;
    padding-left: 800px;
}
.elem1{
    font-weight: bold;
    padding-left: 15px;
    list-style-type:none;
    font-size: 30px;
}
.list1 li:not(.elem1){
    font-size:20px;
    list-style-type: none;
    padding-left: 70px;
    color: dimgray;

}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid SkyBlue;
    bottom: 80%;
}
.list2 li{
    font-weight: bold;
    padding-left: 15px;
    list-style-type:none;
    font-size: 30px;
}
.mylist p{
    width:650px;
    text-align: justify-all;
    font-size: 18px;
    font-family: sans-serif;
    color: dimgray;
    padding-left: 60px;
}
.lilian{

    position: absolute;
    display:flex;
    bottom: 20%;
    padding-left: 50px;
}
span{
    font-weight: bold;
}
.nav-links img{
    padding-left: 6px;
}





